:root {
  --blue1: #22a2f2;
  --blue2: #29b9f2;
  --yellow: #f2cb05;
  --orange1: #f28705;
  --orange2: #f25835;
  --black: #333;
  --white: #f5f5f5;
}

body {
  background: radial-gradient(
    circle at 98% 1%,
    var(--orange2) 0%,
    var(--yellow) 16%,
    var(--blue1) 18%,
    var(--blue1) 85%
  );
  background-position-x: 80%;
  color: #333;
  font-family: "Red Hat Mono", monospace;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: absolute;
}

#navDiv {
  z-index: 4;
  background-color: var(--white);
  position: fixed;
  height: 75px;
  top: 0;
  left: 0;
  width: 100vw;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 4px;
  font-size: 36pt;
}

.navLinks {
  width: fit-content;
  position: absolute;
  top: 38px;
  right: 0;
  margin: 1em;
  background-color: var(--white);
}

#background-wrap {
  bottom: 70%;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
#mainContainer {
  position: relative;
  margin: auto;
  margin-top: 23vh;
  padding: 45px;
  width: 60vw;
  height: 50vh;
  box-shadow: 0px 0px 25px 2px var(--black);
  backdrop-filter: blur(15px);
}

/* .mainContent {
  width: 85%;
  margin: auto;

} */

.mainContent {
  display: table;
  table-layout: fixed;
  width: 100%;

  box-sizing: border-box;
}

/* .mainContentHalf {
  display: inline-block;
  width: 38%;
  height: 80%;
  padding: 5%;
  flex: auto;
} */

#loginForm {
  width: max-content;
  margin: auto;
  text-align: center;
}

#mainText {
  display: table-cell;
  vertical-align: middle;
  height: auto;
}

h4 {
  padding: 3px;
}

.left {
  width: max-content;
}

.right {
  margin-left: auto;
  width: max-content;
}

#introForm {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s ease 17s forwards;
}
h2 {
  margin: auto;
  width: max-content;
  padding: 20px;
}

input {
  margin: 7px;
  padding: 7px;
  background-color: var(--white);
  text-align: center;
}

#timePicker {
  width: 20vw;
}
#timePickerDiv {
  width: max-content;
  margin: auto;
}
label {
  display: block;
  text-align: center;
  font-size: 14pt;
  font: Tahoma, Sans Serif;
  font-weight: 900;
}

button {
  width: 100px;
  display: block;
  margin: 5px auto;
  border-radius: 14px;
  box-shadow: 0px 0px 25px 2px var(--black);
}
button:hover {
  border-color: var(--orange2);
}

#location {
  width: max-content;
  margin: auto;
}

#footer {
  display: absolute;
  z-index: 4;
  background-color: var(--white);
  position: fixed;
  height: 75px;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
}

.footerLinks {
  flex: auto;
  width: 50vw;
  height: 100%;
  margin-right: 0;
  flex: auto;
}

.footer-link-img {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 96%;
  border-radius: 50%;
  transition: box-shadow 0.2s;
}

#tinytext {
  position: absolute;
  margin-top: 18px;
  margin-left: 85%;
  text-align: right;
}

/*------------------------- KEYFRAMES------------------ */

/* clouds */

@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

/* typewriter */

/* @keyframes typewriter {
  to {
    left: 100%;
  }
} */

@keyframes blink {
  to {
    background: var(--black);
  }
}

@keyframes typewriter {
  3%,
  60% {
    left: 13.98%;
  }
  to {
    left: 100%;
  }
}

@keyframes introOne {
  10%,
  45% {
    left: 22%;
  }
  50%,
  65% {
    left: 42%;
  }
  /* 75% {
    left: 27.%;
  }
  75% {
    left: 27.5%;
  } */
  to {
    left: 100%;
  }
}
@keyframes introTwo {
  3%,
  45% {
    left: 8.8%;
  }

  50%,
  75% {
    left: 32%;
  }
  /* 30% {
    left: 37.4%;
  }

  50% {
    left: 41.16%;
  }  */
  to {
    left: 100%;
  }
}

@keyframes introThree {
  to {
    left: 100%;
  }
}

@keyframes introFour {
  5%,
  60% {
    left: 34%;
  }
  to {
    left: 100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/*--------------------- ANIMATIONS ------------------*/

/* clouds */

.x1 {
  animation: animateCloud 65s linear infinite;
  transform: scale(0.65);
}

.x2 {
  animation: animateCloud 20s linear infinite;
  transform: scale(0.3);
}

.x3 {
  animation: animateCloud 30s linear infinite;
  transform: scale(0.5);
}

.x4 {
  animation: animateCloud 18s linear infinite;
  transform: scale(0.4);
}

.x5 {
  animation: animateCloud 25s linear infinite;
  transform: scale(0.55);
}

/* typewriter */

/*--------------------- OBJECTS ------------------*/

/* clouds*/

.cloud {
  background: var(--white);
  border-radius: 100px;
  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after,
.cloud:before {
  background: var(--white);
  content: "";
  position: absolute;
  z-index: -1;
}

.cloud:after {
  border-radius: 100px;
  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud:before {
  border-radius: 200px;
  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}
/* typewriter*/
h1 {
  position: relative;
  width: max-content;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--white);
  animation: typewriter 2s steps(43) 2s forwards;
}

h1::after {
  width: 0.125em;
  background: transparent;
  animation: typewriter 2s steps(43) 2s forwards, blink 700ms steps(43) 7;
}

#introOne {
  position: relative;
}

#introOne::before,
#introOne::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#introOne::before {
  background-color: var(--blue1);
  animation: introOne 2s steps(32) 6s forwards;
}

#introOne::after {
  width: 0.125em;
  background: transparent;
  animation: introOne 2s steps(32) 6s forwards, blink 700ms steps(32) 5s 5;
}

#introTwo {
  position: relative;
}
#introTwo::before,
#introTwo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#introTwo::before {
  background-color: var(--blue1);
  animation: introTwo 2s steps(41) 9s forwards;
}

#introTwo::after {
  width: 0.125em;
  background: transparent;
  animation: introTwo 2s steps(41) 9s forwards, blink 700ms steps(41) 9s 5;
}

#introThree {
  position: relative;
}
#introThree::before,
#introThree::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#introThree::before {
  background-color: var(--blue1);
  animation: introThree 1s steps(51) 12s forwards;
}

#introThree::after {
  width: 0.125em;
  background: transparent;
  animation: introThree 1s steps(51) 12s 15s, blink 700ms steps(51) 12s 4;
}

#introFour {
  position: relative;
  margin-right: 185px;
}
#introFour::before,
#introFour::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#introFour::before {
  background-color: var(--blue1);
  animation: introFour 2s steps(29) 14s forwards;
}

#introFour::after {
  width: 0.125em;
  background: transparent;
  animation: introFour 2s steps(29) 14s forwards, blink 700ms steps(29) 13s 6;
}
